<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Калькулятор услуг</title>
<link rel="stylesheet" href="/static/css/null.css">
<link rel="stylesheet" href="/static/css/calculator.css">

</head>
<body>
  

<div class="container">
  <div><a href="/"><img src="/static/imgs/icons/logo.png" alt=""></a></div>
  <h1>Калькулятор услуг фулфилмента</h1>
<div id="services">
<h2>
  Услуги (без учёта упаковочного материала)
</h2>
<div class="service" id='main'>
  <div class="service-item">
  <div class="service-name">Приёмка (пересчёт, сортировка, внесение в базу)</div>
  <div class="service-price">4 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Распаковка товара из пакета</div>
<div class="service-price">1 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Проверка на брак визуально (наличие пятен, дырок, ассиметрии)</div>
<div class="service-price">10 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Проверка двойка на брак визуально (наличие пятен, дырок, ассиметрии)</div>
<div class="service-price">15 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Чистка от торчащих ниток и пятен</div>
<div class="service-price">10 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Прикрепление бирки (этикетки)</div>
<div class="service-price">2 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Одинарная маркировка</div>
<div class="service-price">1 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Двойная маркировка</div>
<div class="service-price">2 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Упаковка в зип лок пакет</div>
<div class="service-price">4 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Вкладка (Открытки, вкладыши, визитки)</div>
<div class="service-price">1 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Создание клише наклейки (1 цветоразмер)</div>
<div class="service-price">20 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<h2>
  Швейные услуги
</h2>
<div class="service">
<div class="service-item">
<div class="service-name">Перешив лейбла</div>
<div class="service-price">20 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Перешив составника</div>
<div class="service-price">15 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>

<!-- <div class="service">
<div class="service-item">
<div class="service-name">Дополнительные швейные услуги</div>
</div>       
</div> -->
<h2>
  Работа с размерной сеткой
</h2>
<div class="service">
<div class="service-item">
<div class="service-name">Проверка размерности (1 размер по 1 линейке одной модели)</div>
<div class="service-price">6 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Проверка размерности - двойка (1 размер по 1 линейке одной модели)</div>
<div class="service-price">10 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Составление таблицы размеров для WB (1 размер по 1 линейке одной модели)</div>
<div class="service-price">200 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Составление таблицы размеров для WB (двойка) (1 размер по 1 линейке одной модели)</div>
<div class="service-price">400 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<h2>
  Расходные материалы
</h2>
<div class="service">
<div class="service-item">
<div class="service-name">Бирка и биркодержатель</div>
<div class="service-price">1 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Пакет ЗИП ЛОК 160 микрон с бегунком 15*20</div>
<div class="service-price">7 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Пакет ЗИП ЛОК 160 микрон с бегунком 25*30</div>
<div class="service-price">8 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Пакет ЗИП ЛОК 160 микрон с бегунком 25*35</div>
<div class="service-price">8 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<div class="service">
<div class="service-item">
<div class="service-name">Пакет ЗИП ЛОК 160 микрон с бегунком 30*35</div>
<div class="service-price">9 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>

<div class="service">
<div class="service-item">
<div class="service-name">Пакет ЗИП ЛОК 160 микрон с бегунком 30*40</div>
<div class="service-price">9 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>

<div class="service">
<div class="service-item">
<div class="service-name">Пакет ЗИП ЛОК 160 микрон с бегунком 35*45</div>
<div class="service-price">11 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>

<div class="service">
<div class="service-item">
<div class="service-name">Пакет ЗИП ЛОК 160 микрон с бегунком 40*50</div>
<div class="service-price">15 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>

<div class="service">
<div class="service-item">
<div class="service-name">Пакет ЗИП ЛОК 160 микрон с бегунком 50*70</div>
<div class="service-price">17 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
<h2>
  Забор товара
</h2>
<div class="service">
<div class="service-item">
<div class="service-name">Логистика до карго</div>
<div class="service-price">500 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>

<div class="service">
<div class="service-item">
<div class="service-name">Забор товара у поставщика</div>
<div class="service-price">350 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>

<div class="service">
<div class="service-item">
<div class="service-name">Забор из Бишкека (до 20 км от нашего склада) 800 руб / рейс (до 200 кг)</div>
<div class="service-price">800 руб</div>
</div>
<div class="service-item">
<div class="service-input">
<button class="decrement">-</button>
<input type="number" value="0" min="0">
<button class="increment">+</button>
</div>
</div>        
</div>
</div>
</div>
</div>

<div class="total">
<p id="total"></p>
<p id="count"></p>
<p id="average"></p>
</div>
<section class="contact-with-us black">
            <div class="container">

                <div class="content" id="contacts">
                  <div class="left-side">
                    <div class="address details">
                      <i class="fas fa-map-marker-alt"></i>
                      <div class="topic">Адреса</div>
                      <div class="text-one">Рынок "Аксуу" 2/2 (фулфилмент)</div>
                      <div class="text-two">Рынок "Алкан" 4 ряд 35 конт.(сертификация)</div>
                    </div>
                    <div class="phone details">
                      <i class="fas fa-phone-alt"></i>
                      <div class="topic">Телефоны</div>
                      <div class="text-one"><a href="tel:+996705130676"> +996 705 130 676</a></div>
                      <div class="text-two"><a href="tel:+996707551312"> +996 707 551 312</a></div>
                    </div>
                    <div class="email details">
                      <i class="fas fa-envelope"></i>
                      <div class="topic">Email</div>
                      <div class="text-one">intorgasia@gmail.com</div>
<!--                      <div class="text-two">info.codinglab@gmail.com</div>-->
                    </div>
                  </div>
                  <div class="right-side" id="form">
                    <div class="topic-text">Отправьте заявку</div>
                    <p>И получите бесплатную консультацию по вопросам сертификации и фулфилмента.</p>
                  <form action="/" method="post">
                    {{ form.hidden_tag() }}
                    <div class="input-box">
<!--                      <input type="text" placeholder="Введите ваше имя">-->
                                {{ form.name() }}
                    </div>
                    <div class="input-box">
<!--                      <input type="text" placeholder="Ввкдите ваш Email">-->
                                {{ form.phone() }}
                    </div>
                    <div class="input-box message-box">
<!--                      <textarea name="" id="" cols="30" rows="10" placeholder="Сообщение"></textarea>-->
                            {{ form.message() }}
                    </div>
                    <div class="button">
<!--                      <input type="button" value="Отправить" >-->
                                            {{ form.submit() }}
                    </div>
                  </form>
                </div>
                </div>
              </div>
        </section>
</div>
<script src="/static/js/calcolator.js"></script>
</body>
</html>