<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Поиск фабрик и цехов для производства и пошива одежды.  Оформление сертификатов и деклараций соответствия.
    Введение в систему Честный Знак. Услуги байера - поиск поставщиков и закупка товара на рынках 'Дордой' и 'Мадина'. Доставка на фулфилмент.
    Услуги фулфилмента в Бишкеке - проверка товара на брак, чистка, маркировка, упаковка, отправка на карго. Ввоз товаров из Киргизии в Россию и Беларусь.">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="фулфилмент Бишкек, Честный знак Бишкек, фулфилмент в Бишкеке, Честный знак в Бишкеке, Текшер, фулфилмент Кыргызстан, фулфилмент в Кыргызстане, фулфилмент рассчитать стоимость, Win win фулфилмент, фулфилмент калькулятор, фулфилмент, фулфилмент рассчитать, онлайн калькулятор фулфилмент, Fox Box фулфилмент, фулфилмент Бишкек Вайлдберриз, фулфилмент для маркетплейсов Бишкек, фулфилмент дордой, Win win фулфилмент Бишкек, фулфилмент Вайлдберриз, Бишкек опт">
    <meta name="yandex-verification" content="9f332c0f5a48647b" />

      <link rel="icon" href="/static/imgs/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/null.css">
    <link rel="stylesheet" href="static/css/swiper.css">
    <link rel="stylesheet" href="static/css/style.css">
<!-- Yandex.Metrika counter --> 
<script type="text/javascript" >  
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; 
  m[i].l=1*new Date(); 
  for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} 
  k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) 
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); 

  ym(93930665, "init", { 
       clickmap:true, 
       trackLinks:true, 
       accurateTrackBounce:true, 
       webvisor:true 
  }); 
</script> 
<noscript><div><img src="https://mc.yandex.ru/watch/93930665" style="position:absolute; left:-9999px;" alt="" /></div></noscript> 
<!-- /Yandex.Metrika counter -->
    <title>Импорт одежды из Киргизии - удобно, доступно, надёжно! - ИнторгАзия</title>
</head>
<body>
    <div class="background">
        <section class="transperent">
            <div class="container">
                <header>
                    <div class="top-contacts">
                        <div class="media-links">
                            <a href="https://youtube.com/@intorgasia"><img src="static/imgs/icons/youtube.png" alt=""></a>
                            <a href="http://tiktok.com/@intorgasia"><img src="static/imgs/icons/tiktok.png" alt=""></a>
                            <a href="https://instagram.com/intorgasia"><img src="static/imgs/icons/instagram.png" alt=""></a>

                        </div>

                        <div class="contacts ">
                          
                            <p>intorgasia@gmail.com</p>
                        </div>
                    </div>
                    <!-- <hr class="header-line"> -->
                    <nav class="navbar">
                      <div class="navbar-toggle">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                      </div>
                      <ul class="navbar-menu">
                        <li>
                          <div class="media-links2">
                            <a href="https://youtube.com/@intorgasia"><img src="static/imgs/icons/youtube.png" alt=""></a>
                            <a href="http://tiktok.com/@intorgasia"><img src="static/imgs/icons/tiktok.png" alt=""></a>
                            <a href="https://instagram.com/intorgasia"><img src="static/imgs/icons/instagram.png" alt=""></a>
                        </div>
                        </li>
                        <li class="has-submenu">
                          <a href="#services" class="triangle">СЕРТИФИКАЦИЯ / ЧЕСТНЫЙ ЗНАК</a>
<!--                          <ul>-->
<!--                            <li><a href="#about_us">О нас</a></li>-->
<!--                            <li><a href="#blogers">Блогеры о нас</a></li>-->
<!--                              <li><a href="#services">Наши услуги</a></li>-->
<!--                          </ul>-->
                        </li>
                        <li class="has-submenu">
                          <a href="#fulfilment" class="triangle">ФУЛФИЛМЕНТ</a>
<!--                          <ul>-->
<!--                            <li><a href="#fulfilment">Фулфилмент</a></li>-->
<!--                              <li><a href="#advantages">Наши преимущества</a></li>-->
<!--                              <li><a href="#review">Видео о работе фулфилмента</a></li>-->
<!--                              <li><a href="#fulfilment_services">Услуги фулфилмента</a></li>-->
<!--                          </ul>-->
                        </li>
                        <li class="has-submenu">
                          <a href="#business_tour" class="triangle">БИЗНЕС ТУРЫ</a>
<!--                          <ul>-->
<!--                            <li><a href="#fulfilment">Фулфилмент</a></li>-->
<!--                              <li><a href="#advantages">Наши преимущества</a></li>-->
<!--                              <li><a href="#review">Видео о работе фулфилмента</a></li>-->
<!--                              <li><a href="#fulfilment_services">Услуги фулфилмента</a></li>-->
<!--                          </ul>-->
                        </li>
<!--                        <li class="has-submenu">-->
<!--                          <a href="#" class="triangle">УСЛУГИ БАЕРА</a>-->
<!--                          <ul>-->
<!--                            <li><a href="#">Логистика</a></li>-->
<!--                            <li><a href="#">Таможенное оформление</a></li>-->
<!--                          </ul>-->
<!--                        </li>-->
                        <li><a href="{{ url_for('calculator') }}">КАЛЬКУЛЯТОР ФУЛФИЛМЕНТА</a></li>
                        <li><a href="#contacts">КОНТАКТЫ</a></li>
                      </ul>
                    </nav>
                    
                </header>
                <div class="logo">
                    <img src="static/imgs/icons/logo.png" alt="">
                </div>
                <div class="title">
                    <h1>Импорт одежды из Киргизии - удобно, доступно, надёжно!</h1>
                    <p>Мы берём на себя все процессы селлеров - от поиска фабрик и поставщиков до доставки товара из Киргизии в Россию и Беларусь</p>
                    <a href="#form"  class="smooth-scroll"><button>Бесплатная консультация</button></a>
                </div>
            </div>
        </section>
        <section class="color">
          <div class="container"> 
            <!--<img src="static/imgs/media/roadmap.webp" alt="">-->
            <p><img src="/static/imgs/icons/icons850.png" alt="" style="margin: 0 auto; filter:invert(1);"></p>
            <p>Оставьте заявку и получите бонус - 10% скидка на первый заказ услуг фулфилмента!</p>
          </div>
            <!-- <h2>Акции</h2>
            <p>С 1 апреля 2023 года <br> Для всех клиентов фулфилмента WIN-WIN создание поставки в ЛК WB — БЕСПЛАТНО</p>
            <button>Получить услугу</button> -->
        </section>
        <section class="about-us black">
            <div class="container">
                <div class="about-content">
               <h2 id="services">Наши услуги</h2>
                <div class="services-flex">
                    <div class="services-item"><img src="static/imgs/icons/magnifier.png" alt=""><p>Поиск фабрик и цехов для производства и пошива одежды.</p></div>
                    <div class="services-item"><img src="static/imgs/icons/sertificat.png" alt=""><p>Оформление сертификатов и деклараций соответствия. Сопроводительные документы.</p></div>
                    <div class="services-item"><img src="static/imgs/icons/logo-header-2.png" alt=""><p>Введение в систему Честный Знак</p></div>
                    <div class="services-item"><img src="static/imgs/icons/hat.png" alt=""><p>Услуги байера - поиск поставщиков и закупка товара на рынках "Дордой" и "Мадина". Доставка на фулфилмент.</p></div>
                    <div class="services-item"><img src="static/imgs/icons/wherehouse.png" alt=""><p>Услуги фулфилмента в Бишкеке - проверка товара на брак, чистка, маркировка, упаковка, отправка на карго.</p></div>
                    <div class="services-item"><img src="static/imgs/icons/legalbus.png" alt=""><p>Ввоз товаров из Киргизии в Россию и Беларусь.</p></div>
                </div>
<!--                    <div class="text">-->
<!--                        <h3>Юлия Идрисова и Александр Шевелев</h3>-->
<!--                        <hr>-->
<!--                        <p>Привет, мы основатели фулфилмента WIN-WIN и действующие селлеры уже более 4-х лет.</p>-->
<!--                        <p>Качество, скорость, клиентоориентированность – три самых главных принципа нашей работы. Мы делаем все, чтобы вы могли доверить нам свой товар.</p>-->
<!--                    </div>-->
<!--                    <div class="photo">-->
<!--                        <img src="static/imgs/about-us.jpg" alt="">-->
<!--                    </div>-->

                </div>

            </div>
            <a href="#form"  class="smooth-scroll"><button>Бесплатная консультация</button></a>

        </section>
        <section class="work-with-us black">
          <div class="container">
            <div class="video">
              <h2 id="blogers">Блогеры о нас</h2>
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7r8Mp540iVs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            </div>
          </div>
        </section>
        <section class="services black">
            <div class="container">
                <h2 id="about_us">Почему нам доверяют</h2>
                    <div class="about">
                        <ul>
                            <li><img src="static/imgs/icons/export.png" alt=""><p>Многолетний опыт в сфере экспорта из Киргизии</p></li>
                            <li><img src="static/imgs/icons/products.png" alt=""><p> 35000+ ед товара, введено в систему Честный Знак</p></li>
                            <li><img src="static/imgs/icons/support.png" alt=""><p>Более 500 довольных клиентов</p></li>
                            <li><img src="static/imgs/icons/people.png" alt=""><p>Клиенты со всего СНГ: Россия, Казахстан, Беларусь, Киргизия</p></li>
                        </ul>
                    </div>
                <div class="button">
                    <a href="#form"><button>Бесплатная консультация</button></a>
                </div>
            </div>
        </section>
        <section class="white-start">
          <div class="container">
            <h2 id="fulfilment">Фулфилмент для маркетплейсов в Бишкеке</h2>
            <h4>От приемки товара до поставки на склады маркетплейсов </h4>
              <hr>
              <p>Освободите себя и своё время, передав рутинный труд в ответственные руки наших профессионалов.</p>
              <a href="{{ url_for('calculator') }}"><button>Калькулятор фулфилмента</button></a>

            </div>
        </section>
        <section class="white">

          <div class="container">
            
            <div class="fulfilment-container">
              <h2 id="advantages">Наши преимущества</h2>
              <div class="fulfilment-item">
                <img src="static/imgs/icons/clock.png" alt="">
                <p>48 часов от приемки товара до отправки на меркетплейсы</p>
              </div>
              <div class="fulfilment-item">
                <img src="/static/imgs/icons/location.png" alt="">
                <p>Находимся на рынке "Дордой" рядом с Вашими поставщиками и карго</p>
              </div>
              <div class="fulfilment-item">
                <img src="static/imgs/icons/tick-inside-circle.png" alt="">
                <p>Филиал в Москве обеспечивает дополнительную проверку и доставку до складов МП</p>
              </div>
              <div class="fulfilment-item">
                <img src="/static/imgs/icons/sewing-machine.png" alt="">
                <p>Дополнительные услуги для поставщиков одежды</p>
              </div>
            </div>
          </div>
        </section>
        <section class="white video-reviews">
          <h2 id="review">Видео о работе фулфилмента</h2>
          <iframe width="310px" height="555" src="https://www.youtube.com/embed/UyvXEW-CP44" title="Инторг Азия Фулфилмент 🇰🇬 Бишкек" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </section>
        <section class="white second">
          <div class="container">
            <h2 id="fulfilment_services"> Услуги фулфилмента</h2>
 
            <div class="fulfilment-container">
              <div class="fulfilment-item">
                <img src="static/imgs/icons/magnifier.png" alt="">
                <p>Проверка товара на брак</p>
              </div>
              <div class="fulfilment-item">
                <img src="/static/imgs/icons/icons8-50.png" alt="">
                <p>Чистка от торчащих ниток и пятен</p>
              </div>
              <div class="fulfilment-item">
                <img src="/static/imgs/icons/igla.png" alt="">
                <p>Перешив лейблов и составников под Ваш бренд</p>
              </div>
              <div class="fulfilment-item">
                <img src="/static/imgs/icons/sewing-machine.png" alt="">
                <p>Исправление некоторых дефектов пошива</p>
              </div>
              <div class="fulfilment-item">
                <img src="static/imgs/icons/icons8-80.png" alt="">
                <p>Маркировка наклейками</p>
              </div>
              <div class="fulfilment-item">
                <img src="/static/imgs/icons/legalbus.png" alt="">
                <p>Доставка до складов маркетплейсов</p>
              </div>
              <a href="{{ url_for('calculator') }}"><button>Калькулятор фулфилмента</button></a>
            </div>
          </div>
        </section>
<!--        <section class="black">-->
<!--            <div class="container">-->
<!--                <div class="info">-->
<!--                    <input class="info__switch" id="info__body_1" type="checkbox">-->
<!--                    <label class="info__headline" for="info__body_1">Вы работаете только по схеме FBS? Есть же еще FBO</label>-->
<!--                    <div class="info__body">-->
<!--                        Мы работаем по схеме FBS и по схеме FBO для Вашего удобства. Схема FBS более выгодна нашим клиентам.-->
<!--                    </div>-->
<!--                  </div>-->
<!--                -->
<!--                  <div class="info">-->
<!--                    <input class="info__switch" id="info__body_2" type="checkbox">-->
<!--                    <label class="info__headline" for="info__body_2">С какими маркетплейсами вы работаете?</label>-->
<!--                    <div class="info__body">-->
<!--                        В основном мы работаем с Ozon и Wildberries, а так же с ЯндексМаркетом и СберМаркетом.-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <div class="info">-->
<!--                    <input class="info__switch" id="info__body_3" type="checkbox">-->
<!--                    <label class="info__headline" for="info__body_3">Сколько стоят ваши услуги?</label>-->
<!--                    <div class="info__body">-->
<!--                        Конечная цена зависит от ряда факторов, таких как: количество поставляемого товара, габариты и размер, тип упаковки, а также от срочности предоставляемых нами услуг. У нас адекватная средняя цена на рынке.-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <div class="info">-->
<!--                    <input class="info__switch" id="info__body_4" type="checkbox">-->
<!--                    <label class="info__headline" for="info__body_4">Что делать, если у меня нет никакого опыта в процессе упаковки товара для маркетплейсов?</label>-->
<!--                        <div class="info__body">-->
<!--                            Именно для этого мы и работаем, наша задача состоит в том, чтобы избавить вас от необходимости самостоятельно решать все вопросы, связанные с упаковкой товара для маркетплейсов-->
<!--                        </div>-->
<!--                    </div>-->
<!--                  <div class="info">-->
<!--                    <input class="info__switch" id="info__body_5" type="checkbox">-->
<!--                    <label class="info__headline" for="info__body_5">Зачем мне с вами сотрудничать, если я уже сам занимаюсь упаковкой товара по стандартам маркетплейсов и поставками его на склады?</label>-->
<!--                    <div class="info__body">-->
<!--                        Работая с нами, вы получаете стандарты качества упаковки, выверенные нами на сотнях тысяч разнообразных товарах, уверенность за сохранность своего товара (наши склады оборудованы современными системами безопасности), и освобождаете себе много свободного времени.-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <div class="info">-->
<!--                    <input class="info__switch" id="info__body_6" type="checkbox">-->
<!--                    <label class="info__headline" for="info__body_6">Чем вы отличаетесь от конкурентов?</label>-->
<!--                    <div class="info__body">Мы сами занимаемся продажей товара на маркетплейсах, а значит отлично знаем настоящий процесс и требования упаковки товара. Ваш товар будет хранится там же, где и наш — это гарантия безопасности. Идеально выверенный и налаженный процесс отработан на товарах наших собственных брендов — у вас не будет беспокойства о том, что мы можем допустить ошибку.</div>-->
<!--                  </div>-->
<!--                </div>-->
<!--        </section>-->
<section class="white">
  <div class="wrapper">
    <i id="left" class="fa-solid fa-angle-left"><</i>
    <ul class="carousel">
      <li class="card">
        <div class="img"><img src="static/imgs/media/review1.jpg" alt="img" draggable="false"></div>
  
      </li>
      <li class="card">
        <div class="img"><img src="static/imgs/media/review2.jpg" alt="img" draggable="false"></div>

      </li>
      <li class="card">
        <div class="img"><img src="static/imgs/media/review2.jpg" alt="img" draggable="false"></div>

      </li>
      
    </ul>
    <i id="right" class="fa-solid fa-angle-right">></i>
  </div>
<br>
</section>
<section class="white-start" id="business_tour">
  <div class="container">
  <h2>Бизнес туры в Киргизию</h2>
  <p>Расширяйте горизонты Вашего бизнеса в стране с самыми выгодными условиями производства одежды</p>
 
</div>
</section>

  <section class="business-tours black">
    <div class="container">
      <div class="tour-details">
     
        <div class="image-container">
          <img src="static\media\photo\bishkek.jpg" alt="Красивый Бишкек с видом на горы">
        </div>
      </div>
    
    <div class="tour-inclusions">
      <h3>Что входит в тур:</h3>
      <br>
      <ul>
        <li><img src="/static/imgs/icons/rynok.png" alt=""> Посещение крупнейших рынков Центральной Азии - "Дордой" и "Мадина" в сопровождении действующих байеров и технолога</li>
        <li><img src="/static/imgs/icons/fabric.png" alt=""> Посещение фабрик и цехов по изготовлению одежды. Вы увидите производство собственными глазами</li>
        <li><img src="/static/imgs/icons/ceh.png" alt=""> Участие в конференциях по вопросам производства и легального экспорта товара из Киргизии, торговли на маркетплейсах с разборами бизнес моделей</li>
        <li><img src="/static/imgs/icons/photo.png" alt=""> Посещение фотостудий</li>
        <li><img src="/static/imgs/icons/tick-inside-circle.png" alt=""> Посещение фулфилмента</li>
        <li><img src="/static/imgs/icons/gory.png" alt=""> Знакомство с природными красотами Киргизии, поездка в захватывающее горное путешествие</li>
        <li><img src="/static/imgs/icons/eda.png" alt=""> Погружение в местную культуру и посещение ресторанов с традиционной национальной кухней</li>
      </ul>
     
    </div>
    <div class="image-container">
      <img src="static/media/photo/dordoi.png" alt="Красивый рынок Дордой">
    </div>
    <div class="tour-inclusions">
      <h3>В результате Вы:</h3>
      <br>
      <ul>
        <li><img src="/static/imgs/icons/ludi.png" alt="">Познакомитесь с единомышленниками и действующими селлерами</li>
        <li><img src="/static/imgs/icons/contacts.png" alt="">Обзаведетесь ценными контактами производств и байеров</li>
        <li><img src="/static/imgs/icons/postavwik.png" alt="">Найдёте самых выгодных поставщиков в Центральной Азии под Ваши запросы</li>
        <li><img src="/static/imgs/icons/zakon.png" alt="">Узнаете наглядно, как работает легальный экспорт из Кыргызстана</li>
        <li><img src="/static/imgs/icons/schem.png" alt="">Выстроите для себя схему развития собственного бизнеса без пробелов, расширите собственные возможности</li>
      </ul>
    </div>
    <div class="image-container">
      <img src="static/media/photo/ik.jpg" alt="Красивое озеро Иссык-Куль">
    </div>
    <div class="tour-inclusions">
      <h3>Цены бизнес-туров:</h3>
      <br>
      <ul>
        <li><img src="/static/imgs/icons/otdihvgorah.png" alt="">55000р - 4 дня с отдыхом в горах</li>
        <li><img src="/static/imgs/icons/otdihplazh.png" alt="">65000р - 5 дней с поездкой на озеро Иссык-Куль</li>
      </ul>
      <p class="disclaimer" style="text-align: center;">В стоимость не входит перелёт и проживание</p>
      <br>
      <a href="#form"><button class="request-button">Оставить заявку</button></a>
    </div>
  </div>
  </section>
  
<!--        <section class="our-partners black">-->
<!--            <div class="container">-->
<!--                <h2>НАШИ ПАРТНЕРЫ</h2>-->

<!--                <div class="partners-container">-->
<!--                    <div class="partners"><img src="static/imgs/partners/Logo_-_SELLER_EXPERT.png" alt=""></div>-->
<!--                    <div class="partners"><img src="static/imgs/partners/photo.png" alt=""></div>-->
<!--                    <div class="partners"><img src="static/imgs/partners/tochka-s-podstrochni.png" alt=""></div>-->
<!--                    <div class="partners"><img src="static/imgs/partners/x1_black.png" alt=""></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
        <section class="contact-with-us black">
            <div class="container">
            
                <div class="content" id="contacts">
                  <div class="left-side">
                    <div class="address details">
                      <i class="fas fa-map-marker-alt"></i>
                      <div class="topic">Адреса</div>
                      <div class="text-one">Рынок "Аксуу" 2/2 (фулфилмент)</div>
                      <div class="text-two">Рынок "Алкан" 4 ряд 35 конт.(сертификация)</div>
                    </div>
                    <div class="phone details">
                      <i class="fas fa-phone-alt"></i>
                      <div class="topic">Телефоны</div>
                      <p>Фулфилмент:</p>
                      <div class="text-two"><a href="tel:+996707551312"> +996 707 551 312</a></div>
                      <hr>
                      <p>Сертификация / Честный Знак:</p>
                      <div class="text-one"><a href="tel:+996500920908"> +996 500 920 908</a></div>
                      <div class="text-two"><a href="tel:+73832859848"> +7(383)285-98-48</a></div>
                    </div>
                    <div class="email details">
                      <i class="fas fa-envelope"></i>
                      <div class="topic">Email</div>
                      <div class="text-one"> <a href="mailto:intorgasia@gmail.com">intorgasia@gmail.com</a></div>
                    </div>
                  </div>
                  <div class="right-side" id="form">
                    <div class="topic-text">Отправьте заявку</div>
                    <p>И получите бесплатную консультацию по вопросам сертификации и фулфилмента.</p>
                  <form action="/" method="post">
                    {{ form.hidden_tag() }}
                    <div class="input-box">
                                {{ form.name() }}
                    </div>
                    <div class="input-box">
                                {{ form.phone() }}
                    </div>
                    <div class="input-box message-box">
                            {{ form.message() }}
                    </div>
                          {{ form.submit() }}
                    </div>
                  </form>
                </div>
                </div>
              
        </section>
        
    </div>
    <div id="anchor"><img src="/static/imgs/icons/icons850.png" alt="" style="filter: invert(1);"></div>
  <div id="open-btn"><img src="/static/imgs/icons/chat.png" alt="" style="filter: invert(1);"></div>

  <div id="popup">
    <div class="pop-flex">
      <div>
        <a href="tel:+996707551312" target="_blank"><img class="icon" src="/static/imgs/icons/contactus.png" alt="Icon 3"></a>
        </div>
      <div>
        <a href="https://wa.me/996707551312" target="_blank"><img class="icon" src="/static/imgs/icons/whatsapp.png" alt="Icon 1"></a>
        </div>
      <div>Фулфилмент</div>
    </div>
    <hr>
    <div class="pop-flex">
      <div>
        <a href="tel:+996500920908" target="_blank"><img class="icon" src="/static/imgs/icons/contactus.png" alt="Icon 3"></a>
        </div>
      <div>
        <a href="https://wa.me/996500920908" target="_blank"><img class="icon" src="/static/imgs/icons/whatsapp.png" alt="Icon 2"></a>
        </div>
      <div>Сертификация</div>
    </div>
    <!-- <div class="pop-flex">
      <div>
        <a href="#"><img class="icon" src="/static/imgs/icons/contactus.png" alt="Icon 3"></a>
        </div>
      <div>
        <a href="#"><img class="icon" src="/static/imgs/icons/whatsapp.png" alt="Icon 3"></a>
        </div>
      <div>Услуги баера</div>
    </div> -->
  </div>
    <script src="static/js/swiper.js"></script>
    <script src="static/js/script.js"></script>
</body>
</html>